body{
    margin: 0;
    font: normal;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#headerLeft{
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    gap: 10px;
}

#headerRight{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 15px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

#inputDiv{
    width: 500px;
    height: 25px;
    border-radius: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#searchIcon{
    height: 10px;
    width: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
}

#input{
    margin-top: 4px;
    margin-left: 30px;
    width: 400px;
    height: 15px;
    border-width: 0px;
    outline: none;
    margin-bottom: 5px;
}

#google{
    width: 300px;
    padding-bottom: 20px;
}

button{
    margin-top: 15px;
    padding: 8px;
    background-color: whitesmoke;
    border-color: white;
    border-radius: 3px;
    border: 0cap;
}

#anuncio{
    padding-top: 20px;
    font-size: small;
    color: blue;
    display: flex;
    gap: 10px;
}

#labelDeal{
    color: darkgoldenrod;
}

#idiomas{
    padding-top: 20px;
    font-size: 14px;
    display: flex;
}

#lengua{
    color: blue;
    margin-left: 5px;

}

footer{
    display: flex;
    padding: 10px;
    flex-direction: column;
}

#footerTop{
    margin-bottom: 10px;
}

#footerBot{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

#leftFooter, #midFooter, #rightFooter{
    width: 100%;
}

#leftFooter{
    display: flex;
    justify-content: flex-start;
    gap: 10px
}

#midFooter{
    display: flex;
    text-align: center;
}

#arrowRight{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#rightFooter{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}